.list-item>div {
    width: 100%;
    height: 100%;
}

.list .platform-list__item div {
    display: inherit;
}

.advantages-item__title {
    white-space: normal;
}

.regular-page .header {
    background: transparent;
}

.regular-page .header.header--bg {
    background: transparent;
    background: #fff;
}

.calc-page {
    background: url(../img/backgrounds/rp-bg.jpg) center no-repeat;
    background-position: top;
    background-size: 100% auto;
}